@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap');


:root {
  --red-primary: #EF3F18;
  --red-seconday: #f05a39;
  --yellow: #FFCB05;
  --blue-border: #3B5CA7;
  --dark-color: #333333;
  --light-color: #f1f1f1;

  --font-defaut: "DM Sans", sans-serif;

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-defaut);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rock {
  background-color: rgb(148, 81, 81);
}

.ghost {
  background-color: rgb(247, 247, 247);
}

.electric {
  background-color: rgb(255, 255, 161);
}

.bug {
  background-color: #F6D6A7;
}

.poison {
  background-color: #e0a7f6;
}

.normal {
  background-color: #F4F4F4;
}

.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}

.fire {
  background-color: #FBE3DF;
}

.grass {
  background-color: #E2F9E1;
}

.water {
  background-color: #E0F1FD;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem 3rem;
}

.display {

  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 3em;
}

.display .poke {
  color: var(--blue-border);

}

.display h1 {

  color: var(--blue-border);
  font-size: 2.5rem;
  font-weight: bold;

}





.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.thumb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  margin: 0.3rem;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  min-width: 160px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.171);
}

.app-container h1 {
  margin: auto 0;
  text-align: center;
}

h3 {

  margin-bottom: 0.3em;
}

.thumb-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.3);
}

.thumb-container img {
  width: 120px;
  height: 120px;
}

.thumb-container small {
  text-transform: capitalize;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detail-wrapper button {
  color: rgb(22, 22, 22);
  padding: .5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.185);
}

.load-more {
  background: #f5f5f5 linear-gradient(#f5f5f5, #f1f1f1) repeat-x;
  border-radius: 2px;
  border: 1px solid #c6c6c6;
  color: #444;
  padding: 0.8rem 1.5rem;
  min-width: 50%;
  margin-top: 1rem;
  cursor: pointer;

}

.load-more {
  margin-top: 20px;
  line-height: 60px;
  font-weight: bold;
  font-size: large;
  color: black;
  padding: 0 40px;
  background: lightblue;
  border: 3px solid #003060;
  border-radius: 40px;
  transition: all 0.3s ease-in;
}

.load-more:hover {
  background: #003060;
  color: white;
  position: relative;
  transform: translateY(2px);
  box-shadow: none;
}