@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap');


:root {
  --red-primary: #EF3F18;
  --red-seconday: #f05a39;
  --yellow: #FFCB05;
  --blue-border: #3B5CA7;
  --dark-color: #333333;
  --light-color: #f1f1f1;

  --font-defaut: "DM Sans", sans-serif;

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-defaut);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.thumb-container.rock {
  background-color: rgb(148, 81, 81);
  border-bottom: 10px solid rgb(107, 59, 59);

}

.thumb-container.ghost {
  background-color: rgb(247, 247, 247);
  border-bottom: 10px solid #ff9b89;

}

.thumb-container.electric {
  background-color: rgb(255, 255, 161);
  border-bottom: 10px solid rgb(236, 236, 34);


}

.thumb-container.bug {
  background-color: #F6D6A7;
  border-bottom: 10px solid #f1b965;

}

.thumb-container.poison {
  background-color: #e0a7f6;
  border-bottom: 10px solid #b76ed3;

}

.thumb-container.normal {
  background-color: #F4F4F4;
  border-bottom: 10px solid #292929;

}

.thumb-container.fighting {

  background-color: #faa89a;
  border-bottom: 10px solid #c44029;
}

.thumb-container.fairy {
  background-color: rgba(255, 192, 203, 0.863);
  border-bottom: 10px solid rgba(247, 158, 173, 0.863);

}

.thumb-container.fire {
  background-color: #fbeedf;
  border-bottom: 10px solid #f5822b;

}

.thumb-container.grass {
  background-color: #E2F9E1;
  border-bottom: 10px solid #77c474;

}

.thumb-container.water {
  background-color: #E0F1FD;
  border-bottom: 10px solid #71b1de;

}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem 3rem;
}


.display {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1em;
}

.display .poke {
  color: var(--blue-border);

}







.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.thumb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  margin: 0.3rem;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  min-width: 160px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 1px, rgba(0, 0, 0, 0.03) 0px 4px 2px, rgba(0, 0, 0, 0.03) 0px 8px 4px, rgba(0, 0, 0, 0.03) 0px 16px 8px, rgba(0, 0, 0, 0.03) 0px 32px 16px;
}

.app-container h1 {
  margin: auto 0;
  text-align: center;
}

h3 {

  margin-bottom: 0.3em;
}

.thumb-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.3);
}

.thumb-container img {
  width: 120px;
  height: 120px;
}

.thumb-container small {
  text-transform: capitalize;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detail-wrapper button {
  color: rgb(22, 22, 22);
  padding: .5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.185);
}


.load-more {

  min-width: 20%;
  margin-top: 1.5rem;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  color: black;
  padding: 1em 2.5em;
  background: lightblue;
  border: none;
  outline: none;
  border-radius: 40px;
  transition: all 0.3s ease-in;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.load-more:hover {
  background: #003060;
  color: white;
  position: relative;
  transform: translateY(2px);
  box-shadow: none;
}